<p>alerts works!</p>
<div *ngIf="!alerts$">Loading...</div>
<div class="">
  <li *ngFor="let alert of alerts$ | async">{{alert.id}} - Motor Name: {{alert.motorName}} - Component: {{alert.motorComponent}}</li>
</div>
