<p>login works!</p>
<div class="container">
  <div>Log in </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <label for="username">Username</label>
    <input type="text" formControlName="username" class="form-control" /><br/>
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control" />
    <button class="btn btn-primary mt-3" >SIGN IN</button>
  </form>
</div>
