<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NGXS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a [routerLink]="['/reports']">Reports</a></li>
      <li><a [routerLink]="['/motors']">Motors</a></li>
      <li><a [routerLink]="['/alerts']">Alerts</a></li>
    </ul>
  </div>
</nav>
